:root {
    --bg: #15151f;
    --base: #1e1e2e;
    --border: #313244;
    --subtext: #a6adc8;
    --text: #cdd6f4;
    --colour1: #cba6f7;
    --colour2: #94e2d5;
    --colour3: #f38ba8;
    --width: 1000px;
}

body {
    background-color: var(--bg);
    margin: 0px;
    width: 100vw;
    height: 100vh;
    font-family: "Fira Code";
}

.container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    color: var(--text);
    width: var(--width);
    margin-bottom: 24px;
    border-radius: 6px;
    text-align: center;
    padding: 18px 0px 16px 0px;
    background-color: var(--base);
    border: 2px solid var(--border);
}

.bookmarks {
    width: var(--width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.bookmark-set {
    background-color: var(--base);
    height: 320px;
    width: calc((var(--width) / 3) - 20px);
    border: 2px solid var(--border);
    border-radius: 6px;
}

.bookmark {
    display: block;
    color: var(--text);
    margin: 14px;
    text-decoration: none;
    transition: color 0.2s;
}
.bookmark::before {
    color: var(--subtext);
    content: "└──";
    margin-left: 12px;
    margin-right: 6px;
}
.purple .bookmark:hover {
    color: var(--colour1);
}
.cyan .bookmark:hover {
    color: var(--colour2);
}
.pink .bookmark:hover {
    color: var(--colour3);
}

.bookmark-title {
    margin: 14px;
    margin-top: 18px;
}
.purple .bookmark-title {
    color: var(--colour1);
}
.cyan .bookmark-title {
    color: var(--colour2);
}
.pink .bookmark-title {
    color: var(--colour3);
}
